@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slick-arrow, .slick-prev, .slick-next {
    font-size: 24px;
    color: black !important;  
    background-color: black !important;
  }
  
  .slick-prev {
    left: 10px;
    
  }
  
  .slick-next {
    right: 10px;
  }

  .custom-phone-input {
    display: flex;
    height: 54px;
    padding: 10px 14px;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #c2c3c5);
    background: #F8FAFB;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    outline: 2px solid transparent;
    margin-top: 0.3rem;
  }
  
  .custom-phone-input input{
    background: #F8FAFB;
  }
  
  .footer__head{
    width: 150px;
    border-bottom: 2px solid #E92300;
  }